# MongoDB Connection URI
MONGO_URI=mongodb://localhost:27017/Appointment
# Redis Connection URL
REDIS_URL=redis://localhost:6379/0

# Session Expiration in Seconds (3600 = 1 hour)
SESSION_TTL=3600

# Cookie Security (set to True in production with HTTPS)
SESSION_COOKIE_SECURE=False

# Teammate Voice Service
DEEPGRAM_API_KEY=8d1c9ce36da8d055c1b20243a17e8ab5be13c8b5

# Groq LLM
GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=openai/gpt-oss-120b
